.home {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* HERO */
.hero {
  margin-top: 20px;
  background: #f5f5f5;
  border-radius: 24px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

.heroBadge {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #333;
  color: #fff;
  border-radius: 20px;
}

/* SECTION */
.section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionHeader h2 {
  font-size: 28px;
  font-weight: 600;
}

.sectionHeader button {
  background: transparent;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}

/* CATALOG */
.catalogGrid {
  display: grid;
  grid-template-columns: repeat(3, 420px);
  gap: 20px;
  justify-content: center;
}

.catalogCard {
  width: 420px;
  height: 250px;
  background: #f5f5f5;
  border-radius: 16px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* RASM */
.catalogCard img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}



/* WHY */
.whyGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.whyGrid div {
  background: #f5f5f5;
  padding: 30px;
  border-radius: 16px;
  font-weight: 600;
}

/* PRODUCTS */
.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 20px;
}

.productCard {
  text-align: center;
  padding: 12px;
  background: #fff;
  border-radius: 12px;
}

.productCard img {
  width: 100%;
  height: 160px;
  object-fit: contain;
}


/* BRANDS */
.brands {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brands img {
  max-width: 160px;
  width: 100%;
  object-fit: contain;
}


/* BLOG */
.blogGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.blogCard img {
  width: 100%;
  border-radius: 16px;
}
