@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  color: #454545;
  background: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #45454530;
}

.link {
  color: #454545;
}
