.footer {
  background: #f5f5f5;
  padding: 60px 0;
  color: #454545;
  margin-top: 80px;  

  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}

.logo img {
  width: 32px;
}

.phone {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.payments {
  display: flex;
  gap: 10px;
  font-weight: 600;
  margin-bottom: 20px;
}

.policies p {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
    color: gray;
    font-weight: 600;
}

.socials {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.socials span {
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
}

.column h4 {
  font-size: 16px;
  margin-bottom: 15px;
}



.column1 {
  list-style: none;
  display: grid;
  gap: 10px;
  padding: 0;
}

.column ul {
  list-style: none;
  display: grid;
  gap: 10px;
  padding: 0;
}

.column li {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: grid;
  gap: 10px;
  color: gray;
  
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
  }
}
