.wrapper {
  min-height: 100vh;
  display: flex;
}

.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
